h2 What is Gruff?
div.
  Gruff is a canonical reference of important questions and the arguments around 
  them. By creating a catalog of arguments in a given debate, and allowing the
  community to add citations, tag, title, describe, and curate these arguments,
  we expect to reduce the time wasted re-arguing the same points again and again
  in casual debates. Gruff will be troll-resistant - arguments that contain
  common rhetorical fallacies will be buried.