div.disclaimer.
  First, a word of caution: Gruff isn't even alpha yet. We are pre-alpha.
  This means that windows will be breaking and parts falling off all over the place. 
  Our original plan was to launch the alpha version of Gruff on November 6, 2011,
  exactly one year before the 2012 elections in the U.S.
  However, we decided to invite some of you to come and give it a try beforehand.
  Why? It turns out there's an election this November 2, and we know NOTHING about
  our candidates. Some come help us make up our minds! In exchange, we promise to
  vote intelligently. And to make Gruff that much better come 2012.

div.card
  div.tagline.
    Gruff is the Wikipedia of online debates
  p
    | It doesn't take more than a few seconds to get 
    a(href="http://en.wikipedia.org/wiki/Istanbul#History", target="_blank") a brief history of Istanbul
    | , or to find out 
    a(href="http://en.wikipedia.org/wiki/Ceylon", target="_blank") why tea from Sri Lanka is called Ceylon Tea
    | . Why should it
    | be hard to get a summary of the arguments for and against the case
    | of global warming, or what to do about the European debt crisis? 
    | Like Wikipedia, Gruff doesn't aim to capture everything about a topic, but it
    | can give you the heads-up you need before you're ready to dive in deep.

div.card
  div.tagline.
    All right here
  p.
    The goal of Gruff is to be the canonical place for public debates. Flash quiz:
    where do you go to find out all the information, both good and bad, on your local
    politicians? How about what do do about immigration, or who's to blame for the 
    latest oil disaster? Or, dare I say, if U.F.O.'s really exist? The truth is out there
    - the problem is, it's all over the place. We need a single place to go to hang
    all our issues out to dry... and to know where to find them when we need them.

div.card
  div.tagline.
    Unbiased. Or, better, all-biased
  p.
    Most sites that focus on a controversial subject have an agenda of their own to push. 
    They've got their mind made up, and are ready to make up yours if you let them.
    Even our supposedly neutral news sources are so polarized, it's palpable. And the
    more biased they become, the better an audience they make for themselves. The
    result of all this mass communication, ironically, is not to bring the world
    together, but to gradually divide us into factions looking for constant validation
    of our own "side" of the story. Gruff aims to put an end to the vicious cycle of
    choir-preaching by providing a common ground where people can butt heads...
    and hopefully come to a better understanding of one another in the process.

div.card
  div.tagline.
    Come out from under the bridge
  p
    | Are you afraid to scroll to the bottom of news sites, YouTube and the like?
    | You're not alone. It seems like every comment stream is a magnet for lunatics
    | on all sides. It's impossible to state an honest opinion without starting
    | a flame war destined once again to prove 
    a(href="http://en.wikipedia.org/wiki/Godwin's_law", target="_blank") Godwin's law
    | . Perhaps it's the tiny  
    | comment boxes that forces us to express as much rage as possible in 140
    | characters or less. Perhaps it's just that more reasonable people prefer not
    | to waste their time expressing calm opinions in such a forum.
    | Regardless the cause, Gruff aims to be troll-resistant: arguments without
    | substance will be buried, while well-phrased, well-reasoned thoughts will
    | bubble up to the surface. Who knows? Maybe the trolls will even learn a thing
    | or two about manners.

div.card
  div.tagline.
    All species welcome
  p.
    To quote Steve Martin, "Some people just have a way with words. And others,
    oh, not have way!" But don't let that stop you.
    Gruff allows you to state your case any way you want. If it isn't the
    best phrasing (or even if the original argument is inflammatory), the true
    argument can be teased out of the initial statement through a process of
    gradual improvement, and by voting on the best options. You don't even need
    to waste precious time wordsmithing before you hit the button: you can toss out
    your ideas quickly, and come back and improve on them later.
  
div.card
  div.tagline.
    Now... participate!
  p
    | So, what are you waiting for? Get out there and have your say! Or help
    | someone say it better. You can contribute to existing debates, or
    | help us by contributing to the debates about Gruff itself:
    ul
      li
        a(href="http://gruff.co/debates/4e9c6f583950499e11000002") How can we improve Gruff?
      li
        a(href="http://gruff.co/debates/4e9c6fc13950499e11000003") How should voting work on Gruff?