include ../backbone/templates/debates/show.html
include ../backbone/templates/debates/new.html
include ../backbone/templates/debates/list_item.html
include ../backbone/templates/debates/edit_title.html
include ../backbone/templates/debates/edit_description.html
include ../backbone/templates/debates/subdebates.html
include ../backbone/templates/tags/index.html

div#main-debate
  div.debate(id=id)
div.modal-bg(style="display: none;")
