include ../backbone/templates/debates/show.html
include ../backbone/templates/debates/new.html
include ../backbone/templates/debates/simple_new.html
include ../backbone/templates/debates/list_item.html
include ../backbone/templates/debates/edit_title.html
include ../backbone/templates/debates/edit_description.html
include ../backbone/templates/tags/index.html
include ../backbone/templates/tags/show.html
include ../backbone/templates/login/form.html

div#main-debate
  div.debate(id=id)
