div.disclaimer
  | As mentioned
  a(href="/about") elsewhere
  | , we are currenly in a pre-alpha phase. If you know who we are, you'd probably
  | be best off trying to contact us directly. Otherwise, you can try direct-messaging
  | us via Twitter.

div.card
  div.tagline.
    Twitter
  p
    | You can send us direct messages via Twitter @GruffDebates
    | (follow us, or see the latest tweets in the sidebar here).


