h1= title
form( method="post")
    div
        div
            span Title:
            input(type="text", name="title", id="editDebateTitle")
        div
            span Description:
            textarea( name="desc", rows=10, id="editDebateDescription")
        div
            span What kind of debate is this?
            select(name="type", id="editDebateType")
                option(value=debate.DebateTypes.DEBATE)
                    | A problem to be solved, or a set of options to choose from
                option(value=debate.DebateTypes.DIALECTIC)
                    | An action to be taken (or not), or a yes/no decision to be made
                option(value=debate.DebateTypes.DIALECTIC)
                    | A discussion on the truth behind a supposed fact
        dev#editDebateSubmit
            input(type="submit", value="Send")

