h1= title
form( method="post")
    div
        div
            span Title :
            input(type="text", name="title", id="editDebateTitle")
        div
            span Body :
            textarea( name="body", rows=20, id="editDebateBody)
        dev#editDebateSubmit
            input(type="submit", value="Send")
