include mixins/arguments
include mixins/subdebates
include mixins/answers
include mixins/comments
include mixins/tags
include mixins/search_form

div.debate
  a(href="/canvas/" + debate.linkableId()) Canvas it!
  div.date= debate.date
  div.vote-link
    a(href="/debates/" + debate.linkableId() + "/descriptions", title="Improve this description") 
      img(src="/images/checked.png")
  div.description= debate.bestDescriptionText()
  - var mixinArgs = { objecttype: "debates", objectid: debate.linkableId()}
  mixin tags(debate, mixinArgs)
  mixin arguments(debate)
  mixin answers(debate)
  mixin subdebates(debate)
  mixin comments("debates", debate)
