h1= title
#main
  form( method="post")
    div
        div
            label(for="title") Title
              em *
            input(type="text", name="title", id="editDebateTitle")
        div
            label(for="desc") Description
              em *
            textarea( name="desc", id="editDebateDescription")
        div
            label(for="type") What kind of debate is this?
                br
                input( type="radio", name="type", value=debate.DebateTypes.DEBATE, checked)
                | A problem to be solved, or a set of options to choose from
                br
                input( type="radio", name="type", value=debate.DebateTypes.DIALECTIC)
                | An action to be taken (or not), or a yes/no decision to be made
                br
                input( type="radio", name="type", value=debate.DebateTypes.DIALECTIC)
                | A discussion on the truth behind a supposed fact
                br
        div#editDebateSubmit
            input(type="submit", value="Send it")

