div.debates
  - each debate in debates
    div.debate
      div.date= debate.date
      div.type= debate.type
      div(class="title checked")!= debate.titleLink()
      div.description= debate.bestDescriptionText()