h1= title
h2 Recent Debates
a(href="/debate/new") Start your own debate!
#debates
    - each debate in debates
      div.debate
        div.created_at= debate.created_at
        div.type= debate.type
        div.title
          a(href="/debate/"+debate._id.toHexString())!= debate.bestTitleText()
        div.body= debate.body

include includes/footer
