h1= title
#debates
h2 Recent Debates
a(href="/debate/new") Start your own debate!
    - each debate in debates
      div.debate
        div.created_at= debate.created_at
        div.title 
            a(href="/debate/"+debate._id.toHexString())!= debate.title
        div.body= debate.body
