h1= title
h2 Recent Debates
a(href="/debates/new") Start your own debate!
#main
    div.debates
        - each debate in debates
          div.debate
            div.date= debate.date
            div.type= debate.type
            div(class="title checked")
              a(href="/debates/"+debate._id.toHexString())!= debate.bestTitleText()
            div.description= debate.bestDescriptionText()

