!!!
html
  head
    title= title
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Kranky|Special+Elite')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include includes/header
    div.content
      p!= body
    include includes/footer
