include mixins/describable_header

!!!
html
  head
    title= title
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Kranky|Special+Elite')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
    link(rel='alternate', type='application/atom+xml', href='/feed', title='Recent Debates Feed')
    script(type='text/javascript', src='/javascript/jquery-1.6.4.min.js')
    script(type='text/javascript', src='/javascript/jquery-ui.min.js')
    //- script(type='text/javascript', src='/javascript/jquery.hotkeys-0.7.9.js')
    script(type='text/javascript', src="/javascript/underscore.js")
    script(type='text/javascript', src="/javascript/backbone.js")
    script(type='text/javascript', src="/javascript/backbone.modelbinding.js")
    script(data-main="/javascript/canvas", src="/javascript/require.js")
  body
    include includes/header
    #content
      #canvas!= body
    include includes/footer