include mixins/describable_header
include mixins/comments
include mixins/comment_form

mixin header("reference", reference, false)
#main
  div.reference
    div.date= reference.date
    if reference.url && reference.url != null
      div.reference
        | External Reference: 
        a(href=reference.url, target="_blank")= reference.url
    div.description= reference.bestDescriptionText()
    a.action(href="/references/" + reference.linkableId() + "/descriptions") View proposed descriptions
    mixin comments(reference)
    mixin comment_form("reference", reference)
