include mixins/comments
include mixins/tags

div.reference
  div.date= reference.date
  if reference.url && reference.url != null
    div.reference
      | External Reference: 
      a(href=reference.url, target="_blank")= reference.url
  div.vote-link
    a(href="/references/" + reference.linkableId() + "/descriptions", title="Improve this description") 
      img(src="/images/checked.png")
  div.description= reference.bestDescriptionText()
  - var mixinArgs = { objecttype: "references", objectid: reference.linkableId()}
  mixin tags(reference, mixinArgs)
  mixin comments("references", reference)
