include mixins/describable_header
include mixins/comments
include mixins/comment_form
include mixins/tags

mixin header("reference", reference, false)
#main
  div.reference
    div.date= reference.date
    if reference.url && reference.url != null
      div.reference
        | External Reference: 
        a(href=reference.url, target="_blank")= reference.url
    div.description= reference.bestDescriptionText()
      div.vote-link
        a(href="/references/" + reference.linkableId() + "/descriptions", title="Improve this description") 
          img(src="/images/checked.png")
    mixin tags(reference)
    mixin comments(reference)
    mixin comment_form("reference", reference)
