include ../mixins/debates

mixin list_debates("Debates Created by You", created)
mixin list_debates("Debates with Contributions from You", contributed)
mixin list_debates("Debates on which You Have Voted", voted)
