<script type="text/x-jquery-tmpl" id="login-template">
<form id="login-form" method="post" class="standaloneForm">
  <fieldset>
    <legend>Please enter your login information</legend>
    <div id="login">
      <label for="login">Login</label>
      <input type="text" id="login">
    </div>
    <div id="password">
      <label for="password">Password</label>
      <input type="password" id="password">
    </div>
    <div id="submit">
      <input type="submit" value="login">
    </div>
  </fieldset>
</form>
</script>
