<script type="text/x-jquery-tmpl" id="debate-list-item-template">
  <div class="debate-list-item selectable <%=divClass%>" id="<%=linkableId%>">
    <h4 class="title">
      <a href="<%=linkableId%>" class="title-link" title="Click to expand, double-click to edit"><%= bestTitle %></a>
      <a href="<%=linkableId%>" class="zoom-link" title="Select and type 'z' to zoom in">(zoom)</a>
  <% if (curruser.curator) { %>
      <a href="#" class="delete-link" title="Select and type 'd' to delete">(del)</a>
  <% } %>
    </h4>
    <div class="body description selectable" title="Double-click to edit" style="display:none;"><%= bestDescription %></div>
  <% if (type === DebateTypes.DIALECTIC) { %>
  <div class="arguments" style="display:none; font-size:80%;">
    <div class="for selectable">
      <h3>For</h3>
      <div class="debates-list">
      </div>
      <a class="simple-new-debate-link selected-enter-action">New entry</a>
    </div>
    <div class="against selectable">
      <h3>Against</h3>
      <div class="debates-list">
      </div>
      <a class="simple-new-debate-link selected-enter-action">New entry</a>
    </div>
    <div class="clear"></div>
  </div>
  <% } %>
  <% if (type === DebateTypes.DEBATE) { %>
  <div class="answers selectable" style="display:none; font-size:80%;">
    <h3>Proposed Answers</h3>
    <div class="debates-list">
    </div>
    <a class="simple-new-debate-link selected-enter-action">New entry</a>
  </div>
  <% } %>
    <div class="subdebate-show selectable" id="<%=linkableId%>-subdebate-show" style="display:none;"></div>
  </div>
</script>
