<script type="text/x-jquery-tmpl" id="debate-show-template">
<div class="debate">
  <div class="date"><%= date %></div>
  <div class="title"><%= bestTitle %></div>
  <div class="vote-link">
    <a href="/debates/<%= linkableId %>/descriptions" title="Improve this description"><img src="/images/checked.png"/></a>
  </div>
  <div class="description"><%= bestDescription %></div>
  <div class="tags"></div>
  <% if (type === DebateTypes.DIALECTIC) { %>
  <div class="arguments">
    <div class="for">
      <h3>Arguments in Favor</h3>
      <div class="debates-list"></div>
          mixin argument_form(debate, true)
    </div>
    <div class="against">
      <h3>Arguments Against</h3>
      <div class="debates-list"></div>
          mixin argument_form(debate, false)
    </div>
    <div class="clear"></div>
  </div>
  <% } %>
  <% if (type === DebateTypes.DEBATE) { %>
  <div class="answers">
    <h3>Proposed Answers</h3>
    <div class="debates-list"></div>
    mixin answer_form(debate)
  </div>
  <% } %>
  <div class="subdebates">
    <h3>Sub-debates</h3>
    <div class="debates-list"></div>
    <div class="bottomForm">
    <% if (loggedIn) { %>
      <a class="new-debate-link" debate-type="subdebates">Add a New Sub-debate</a>
      <div id="new-subdebates-div" style="display:none;"></div>
    <% } else { %>
      <a href="/login">Want to contribute? Log in!</a>
    <% } %>
    </div>
  </div>
  <div class="comments"></div>
</div>
</script>
