<script type="text/x-jquery-tmpl" id="debate-show-template">
  <div class="date"><%= date %></div>
  <div class="title debate-title canvas-title">
    <h1 class="selectable">
      <span class="attribute-type"><%= typeHeading %></span>
      <span class="title-text"><%= bestTitle %></span>
      <a href="#" class="zoom-link">(zoom)</a>
    </h1>
  </div>
  <div class="description selectable"><%= bestDescription %></div>
  <div class="tags selectable"></div>
  <% if (type === DebateTypes.DIALECTIC) { %>
  <div class="arguments">
    <div class="for selectable">
      <h3>Arguments in Favor</h3>
      <div class="debates-list"></div>
      <% if (loggedIn) { %>
        <a class="new-debate-link selected-enter-action" debate-type="argumentsFor">Propose Your Own Argument</a>
        <div id="<%= linkableId %>-new-argumentsFor-div" style="display:none;"></div>
      <% } else { %>
        <a href="/login">Want to contribute? Log in!</a>
      <% } %>
    </div>
    <div class="against selectable">
      <h3>Arguments Against</h3>
      <div class="debates-list"></div>
      <% if (loggedIn) { %>
        <a class="new-debate-link selected-enter-action" debate-type="argumentsAgainst">Propose Your Own Argument</a>
        <div id="<%= linkableId %>-new-argumentsAgainst-div" style="display:none;"></div>
      <% } else { %>
        <a href="/login">Want to contribute? Log in!</a>
      <% } %>
    </div>
    <div class="clear"></div>
  </div>
  <% } %>
  <% if (type === DebateTypes.DEBATE) { %>
  <div class="answers selectable">
    <h3>Proposed Answers</h3>
    <div class="debates-list"></div>
    <% if (loggedIn) { %>
      <a class="new-debate-link selected-enter-action" debate-type="answers">Add a New Answer</a>
      <div id="<%= linkableId %>-new-answers-div" style="display:none;"></div>
    <% } else { %>
      <a href="/login">Want to contribute? Log in!</a>
    <% } %>
  </div>
  <% } %>
  <div class="subdebates selectable">
    <h3>Sub-debates</h3>
    <div class="debates-list"></div>
    <% if (loggedIn) { %>
      <a class="new-debate-link selected-enter-action" debate-type="subdebates">Add a New Sub-debate</a>
      <div id="<%= linkableId %>-new-subdebates-div" style="display:none;"></div>
    <% } else { %>
      <a href="/login">Want to contribute? Log in!</a>
    <% } %>
  </div>
  <div class="references selectable"></div>
  <div class="comments selectable">
  </div>
</script>
