mixin answer_form(debate)
    div.bottomForm
      if everyauth.loggedIn
          form(method="post", action="/debates/answers/new")
            input( type="hidden", name="_id", value=debate.linkableId())
            fieldset
              legend Propose Your Own Answer or Sub-debate
              div
                label(for="title") Answer Title
                  em *
                input( type="text", name="title", id="addAnswerTitle")
              div
                label(for="desc") Answer Description
                  em *
                textarea( name="desc", rows=5, id="addAnswerDesc")
              div#addAnswerSubmit
                input(type="submit", value="Send it")
      else
        a(href="/login") Want to contribute? Log in!
