mixin argument_form(debate)
    div.bottomForm
      if everyauth.loggedIn
        form(method="post", action="/debates/arguments/new")
          input( type="hidden", name="_id", value=debate.linkableId())
          fieldset
            legend Propose Your Own Argument
            div
              label(for="title") Argument Title
                em *
              input( type="text", name="title", id="addArgumentTitle")
            div
              label(for="isFor") This argument is:
                br
                input( type="radio", name="isFor", value="true", id="addArgumentFor", checked)
                | in support of this statement
                br
                input( type="radio", name="isFor", value="false", id="addArgumentFor")
                | against this statement
            div
              label(for="desc") Argument Description
                em *
              textarea( name="desc", id="addArgumentDesc")
            div#addArgumentSubmit
              input(type="submit", value="Send it")
      else
        a(href="/login") Want to contribute? Log in!
