mixin argument_form(debate, isFor)
    div.bottomForm
      if everyauth.loggedIn
        form(method="post", action="/debates/arguments/new")
          input( type="hidden", name="_id", value=debate.linkableId())
          input( type="hidden", name="isFor", value=String(isFor), id="addArgumentFor")
          fieldset(style="display: none;")
            legend Propose Your Own Argument
            div
              label(for="title") Argument Title
                em *
              input( type="text", name="title", id="addArgumentTitle")
            div
              label(for="desc") Argument Description
                em *
              textarea( name="desc", id="addArgumentDesc")
            div#addArgumentSubmit
              input(type="submit", value="Send it")
        a(href="#", onclick="$(this).parent().find('fieldset').show(); $(this).hide(); return false;") Propose Your Own Argument
      else
        a(href="/login") Want to contribute? Log in!
