include argument_form

mixin arguments(debate)
  if debate.type != debate.DebateTypes.DEBATE
      div.arguments
        div.for
          h3 Arguments in Favor
          if debate.argumentsFor
            - each argument in debate.argumentsFor
              div.argument
                h4.title!= argument.titleLink()
                div.body= argument.body
          mixin argument_form(debate, true)
        div.against
          h3 Arguments Against
          if debate.argumentsAgainst
            - each argument in debate.argumentsAgainst
              div.argument
                h4.title!= argument.titleLink()
                div.body= argument.body
          mixin argument_form(debate, false)
        div.clear
