mixin arguments(debate)
      div.arguments
        div.for
          h2 Arguments in Favor
          if debate.arguments
            - each argument in debate.arguments
              // TODO: learn how to do collection selects with this language
              if argument.for == "true"
                - debate.augment(argument)
                div.argument
                  div.title
                    a(href="/debate/" + debate.linkableId() + "/argument/" + argument.id + "/" + argument._id + "/" + argument.for)= argument.bestTitleText()
              div.body= argument.body
        div.against
          h2 Arguments Against
          if debate.arguments
            - each argument in debate.arguments
              // TODO: learn how to do collection selects with this language
              if !(argument.for == "true")
                - debate.augment(argument)
                div.argument
                  div.title
                    a(href="/debate/" + debate.linkableId() + "/argument/" + argument.id + "/" + argument._id)= argument.bestTitleText()
                  div.body= argument.body
