mixin header(debate, linkToTitle)
  if parent && parent != null
    h1
      a(href="/debates/"+parent.linkableId())= parent.bestTitleText()
    if linkToTitle
      h2 
        a(href="/debates/"+debate.linkableId())= debate.bestTitleText()
    else
      h2= debate.bestTitleText()
      a.action(href="/debates/" + debate.linkableId() + "/titles") View proposed titles
  else
    if linkToTitle
      h1
        a(href="/debates/"+debate.linkableId())= debate.bestTitleText()
    else
      h1= debate.bestTitleText()
      a.action(href="/debates/" + debate.linkableId() + "/titles") View proposed titles

