mixin answers(debate)
  div.answers
    h2 Proposed Answers
    if debate.answers
      - each answer in debate.answers
        div.answer
          div.title
            a(href="/debate/" + debate.linkableId() + "/answer/" + answer.linkableId())= answer.bestTitleText()
          div.body= answer.body
    else
      div.none There are currently no proposed answers.
