mixin list_debates(title, debates)
  div.debate-list
    h3= title
    if debates
      - each debate in debates
        div.debate
          h4.title!= debate.titleLink()
    else
      div.none There are currently no debates in this category.
