mixin arguments(debate)
      div.arguments
        div.for
          h2 Arguments in Favor
          if debate.argumentsFor
            - each argument in debate.argumentsFor
              div.argument
                div.title
                  a(href="/debate/" + debate.linkableId() + "/argument/" + argument.linkableId())= argument.bestTitleText()
                div.body= argument.body
        div.against
          h2 Arguments Against
          if debate.argumentsAgainst
            - each argument in debate.argumentsAgainst
              div.argument
                div.title
                  a(href="/debate/" + debate.linkableId() + "/argument/" + argument.linkableId())= argument.bestTitleText()
                div.body= argument.body
