include reference_form

mixin references(debate)
  div.references
    h3 References
    if debate.references
      - each reference in debate.references
        div.reference
          h4.title
            a(href="/references/" + reference.linkableId())= reference.bestTitleText()
    else
      div.none No references have been added to this debate.
    mixin reference_form(debate)

mixin list_references(title, references)
  div.references
    h3= title
    if references
      - each reference in references
        div.reference
          h4.title
            a(href="/references/" + reference.linkableId())= reference.bestTitleText()
    else
      div.none There are currently no references in this category.
