mixin reference_form(debate)
    div.sideForm
      if everyauth.loggedIn
          form(method="post", action="/references/new")
            input( type="hidden", name="_id", value=debate.linkableId())
            fieldset(style="display: none;")
              legend Add an external reference
              div
                label(for="title") Reference Title
                  em *
                input( type="text", name="title", id="addReferenceTitle")
              div
                label(for="url") URL
                  em *
                input( type="text", name="url", id="addReferenceUrl")
              div
                label(for="desc") Reference Description
                  em *
                textarea( name="desc", rows=5, id="addReferenceDesc")
              div#addReferenceSubmit
                input(type="submit", value="Send it")
          a(href="#", onclick="$(this).parent().find('fieldset').show(); $(this).hide(); return false;") Add an external reference
      else
        a(href="/login") Want to contribute? Log in!
