mixin search_form
    div.searchForm
      form(method="get", action="/search")
        fieldset
          legend Find a debate
          div
            input( type="text", name="value", id="searchQuery")
          div#searchSubmit
            input(type="submit", value="Find it")
