include subdebate_form

mixin subdebates(debate)
  div.subdebates
    h3 Sub-debates
    if debate.subdebates
      - each sub in debate.subdebates
        div.subdebate
          h4.title!= sub.titleLink()
    else
      div.none There are no sub-debates related to this debate.
    mixin subdebate_form(debate)
