<script type="text/x-jquery-tmpl" id="reference-new-template">
<form id="new-reference" method="post">
  <fieldset>
    <legend>Add an external reference</legend>
    <div>
      <label for="title">Reference Title<em>*</em></label>
      <input type="text" name="title" id="title"/>
    </div>
    <div>
      <label for="url">URL<em>*</em></label>
      <input type="text" name="url" id="url"/>
    </div>
    <div>
      <label for="desc">Reference Description<em>*</em></label>
      <textarea name="desc" rows="5" id="desc"></textarea>
    </div>
    <div id="addReferenceSubmit">
      <input type="submit" value="Send it"/>
      <input type="button" class="cancel_button" value="Cancel"/>
    </div>
  </fieldset>
</form>
</script>
