#footer 
  ul.navigation
    li: a(href="/") Go home
    li: a(href="/about") About Gruff
    li: a(href="/contact") Contact us

  script(type="text/javascript", src="//platform.twitter.com/widgets.js")
  script(type="text/javascript", src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4ea703c15352d19b")
  include googleanalytics