#footer 
  ul.navigation
    li: a(href="/") Go home
    li: a(href="/about") About Gruff
    li: a(href="/contact") Contact us

  script(type='text/javascript', async='async', src='http://code.jquery.com/jquery-1.6.4.min.js')
  script(type="text/javascript", src="//platform.twitter.com/widgets.js")
  include googleanalytics