#header
  a.site-name(href='/') Gruff
  ul.user-actions
    if everyauth.loggedIn
      li.logout
        a.logout(href='/logout') Logout
    else
      li.login
        a(href='/login') Login
      li.register
        a(href='/register') Register
  if everyauth.loggedIn
    a(href="/debates/new") Start your own debate!
  else
    a(href="/login") Log in to start your own debate!
