include ../mixins/search_form
include ../mixins/references
include ../mixins/reference_form

#right
  mixin search_form
  if typeof showReferences !== 'undefined' && showReferences == true
    mixin references(debate)
    mixin reference_form(debate)
  if typeof showTwitter !== 'undefined' && showTwitter == true
    include twitter