body
  font-family "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial
  font-size 13px
  text-align center
  text-stroke 1px rgba(255, 255, 255, 0.1)
  color #555
h1, h2, h3
  margin 0
  font-variant small-caps
  letter-spacing -1px
  font-size 22px
  color #343434
h1
  text-shadow 1px 2px 2px #ddd
  text-align center
  font-size 60px
h2
  font-size 34px
  text-align center
.error
  color #a33
h4.title, h4.title a
  font-family "Courier New", Courier, monospace
  font-size 20px
  letter-spacing -1px
  font-weight bold
  color #A3181E
a.action
  display block
  margin-left  auto
  margin-right auto
  width 200px
  text-align center
div
  text-align left
#main
  margin-left auto
  margin-right auto
  width 900px
  .debates
      .debate
        margin 20px
        border-style dashed
        border-bottom-style none
        border-width 2px
        border-color #A3181E
        background-color #DDD
        .date
            display none
        .type
            display none
        .title a
            font-family "Courier New", Courier, monospace
            color #A3181E
            font-size 20px
            letter-spacing -1px
            font-weight bold
        .description
            font-family "Book Antiqua",Georgia,"MS Sans Serif", Geneva, sans-serif;
            padding 5px
            background-color #fff
.debate
  .date
    display none
  .description
    background-color #ffa
    margin-top 10px
  input[type =text]
    width 490px
    margin-left 16px
  input[type =button], input[type =submit]
    text-align left
    margin-left 440px
  textarea
    width 490px
    height 90px
.for
  float left
  width 50%
.against
  float right
  width 50%
.comments
  margin-top 20px
  .comment
    margin-top 10px
    .user
      font-weight bold
      text-decoration underline
      background-color #eee
    .comment
      background-color #ffa
.titles
  margin-top 20px
  .title
    margin-top 10px
    .user
      font-weight bold
      text-decoration underline
      background-color #eee
    .description
      background-color #ffa
.answers
  margin-top 20px
  .answer
    margin-top 10px
    .answer
      font-weight bold
      text-decoration underline
      background-color #eee
    .description
      background-color #ffa
.bottomForm
    margin-top 20px
.checked
  padding 5px 0px 0px 32px
  background url(/images/checked.png) no-repeat 6px 0
.unchecked
  padding 5px 0px 0px 32px
  background url(/images/unchecked.png) no-repeat 6px 0
