body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial;
/*font-family "Helvetica Neue", "Lucida Grande", "Arial"*/
  font-size: 13px;
  text-align: center;
  text-stroke: 1px rgba(255,255,255,0.10);
  color: #555;
}
h1,
h2 {
  margin: 0;
  font-variant: small-caps;
  letter-spacing: -1px;
  font-size: 22px;
  color: #343434;
}
h1 {
  text-shadow: 1px 2px 2px #ddd;
  font-size: 60px;
}
.error {
  color: #a33;
}
#main {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}
#main .debates .debate {
  margin: 20px;
  border-style: dashed;
  border-bottom-style: none;
  border-width: 2px;
  border-color: #a3181e;
  background-color: #ddd;
}
#main .debates .debate .date {
  display: none;
}
#main .debates .debate .type {
  display: none;
}
#main .debates .debate .title a {
  font-family: "Courier New", Courier, monospace;
  background: url("http://www.csszengarden.com/145/h3bg.gif") no-repeat 6px 0;
  padding-left: 35px;
  color: #a3181e;
  font-size: 20px;
  letter-spacing: -1px;
  font-weight: bold;
/*padding 10px 0px 0px 20px*/
}
#main .debates .debate .body {
  font-family: "Book Antiqua", Georgia, "MS Sans Serif", Geneva, sans-serif;
  padding: 5px;
  background-color: #fff;
}
.debate .date {
  display: none;
}
.debate .body {
  background-color: #ffa;
  margin-top: 10px;
}
.debate input[type =text] {
  width: 490px;
  margin-left: 16px;
}
.debate input[type =button],
.debate input[type =submit] {
  text-align: left;
  margin-left: 440px;
}
.debate textarea {
  width: 490px;
  height: 90px;
}
.comments {
  margin-top: 20px;
}
.comments .comment {
  margin-top: 10px;
}
.comments .comment .user {
  font-weight: bold;
  text-decoration: underline;
  background-color: #eee;
}
.comments .comment .body {
  background-color: #ffa;
}
.titles {
  margin-top: 20px;
}
.titles .title {
  margin-top: 10px;
}
.titles .title .user {
  font-weight: bold;
  text-decoration: underline;
  background-color: #eee;
}
.titles .title .body {
  background-color: #ffa;
}
.answers {
  margin-top: 20px;
}
.answers .answer {
  margin-top: 10px;
}
.answers .answer .answer {
  font-weight: bold;
  text-decoration: underline;
  background-color: #eee;
}
.answers .answer .body {
  background-color: #ffa;
}
.bottomForm {
  margin-top: 20px;
}
