body
  font-family "Courier New",Courier,monospace
  font-size 1em
  text-stroke 1px rgba(255, 255, 255, 0.1)
  color #555

/* tags */

h1, h2, h3
  margin 0
  font-variant small-caps
  color #343434
h1
  text-shadow 1px 2px 2px #ddd
  text-align center
  font-size 2.5em
  .vote-link
    margin-left 15px

h2
  font-size 1.75em
  text-align center
  .vote-link
    margin-left 15px
h3
  font-size 1.5em
h4.title, h4.title a
  font-size 1.15em
  letter-spacing -1px
  font-weight bold
  color #A3181E
  background-color white
h4.title
  padding 2px
div
  text-align left
fieldset
  width 90%
label
  margin-top .5em
  display block
  font-weight bold
label em
  color #A3181E
  font-style normal
input[type =text]
  width 100%
input[type =button], input[type =submit]
  text-align center
  width 200px
input[type =radio]
  margin-left 20px
textarea
  width 100%
  height 90px
a.action
  display block
  margin-left  auto
  margin-right auto
  width 200px
  text-align center
a.vote
  text-decoration none
  font-size 1.6em
  padding 0px 0px 26px 33px
  background url(/images/unchecked.png) no-repeat 0px 0
a.vote:hover
  text-decoration none
  font-size 1.6em
  padding 0px 33px 26px 0px
  background url(/images/checked.png) no-repeat 0px 0
a img
  border none

/* main content areas */

#header
  #logo
    a
      float left
      color #343434
      text-align center
      font-size 3em
      text-decoration none
      font-family 'Special Elite', 'Kranky',"Lucida Grande", "Lucida Sans Unicode", Verdana
  #user
    float right
    margin 0 20px
    text-align right
    li
      list-style-type none
#content
  clear both
  padding-top 20px
  #title
    width 73%
#main
  width 73%
  float left
#right
  width 23%
  float right
  .references
    margin-top 20px
    border 1px solid
    -moz-box-shadow 10px 10px 5px #888
    -webkit-box-shadow 10px 10px 5px #888
    box-shadow 10px 10px 5px #888
    padding 5px
    .reference
      h4.title, h4.title a
        font-size 1em
        color #A3181E
        background-color white
#footer
  clear both
  text-align center
  padding 20px 0 10px 0
  ul
    li
      display inline
      margin 5px
#canvas
  width 100%

/* larger units of content */

.answers
  margin-top 20px
  border 1px solid
  -moz-box-shadow 10px 10px 5px #888
  -webkit-box-shadow 10px 10px 5px #888
  box-shadow 10px 10px 5px #888
  padding 1%
  .answer
    margin-top 10px
    .answer
      font-weight bold
      text-decoration underline
      background-color #eee
.against
  border 1px solid
  -moz-box-shadow 10px 10px 5px #888
  -webkit-box-shadow 10px 10px 5px #888
  box-shadow 10px 10px 5px #888
  padding 1%
  float right
  width 47%
  z-index 5
.bottom-form
  clear both
  margin-top 20px
  padding 1%
.comments
  margin-top 20px
  border 1px solid
  -moz-box-shadow 10px 10px 5px #888
  -webkit-box-shadow 10px 10px 5px #888
  box-shadow 10px 10px 5px #888
  padding 1%
  .comment
    margin-top 10px
    .user
      font-weight bold
      text-decoration underline
      background-color #eee
    .comment
      background-color #ffa
.card
  margin-top 20px
  border 1px solid
  -moz-box-shadow 10px 10px 5px #888
  -webkit-box-shadow 10px 10px 5px #888
  box-shadow 10px 10px 5px #888
  padding 1%
.debates
  .debate
    margin 20px
    border 2px dashed #A3181E
    border-bottom-style none
    background-color #DDD
    .date
        display none
    .type
        display none
    .title a
        color #A3181E
        font-size 1.25em
        letter-spacing -1px
        font-weight bold
    .description
        font-family "Book Antiqua",Georgia,"MS Sans Serif", Geneva, sans-serif;
        padding .25em
        background-color #fff
        border none
.debate
  z-index 0
  .date
    display none
  .vote-link
    float right
    text-align right
    margin-left 15px
.references
  margin-top 20px
  border 1px solid
  -moz-box-shadow 10px 10px 5px #888
  -webkit-box-shadow 10px 10px 5px #888
  box-shadow 10px 10px 5px #888
  padding 1%
.reference
  .date
    display none
  .reference
    background-color #ffa
  .vote-link
    float right
    text-align right
    margin-left 15px
    margin-top 10px
.descriptions
  margin-top 20px
  border 1px solid
  -moz-box-shadow 10px 10px 5px #888
  -webkit-box-shadow 10px 10px 5px #888
  box-shadow 10px 10px 5px #888
  padding 1%
  .choose-description
    padding-bottom 10px
    .user
      font-weight bold
      text-decoration underline
      background-color #eee
    .vote-link
      float left
      margin-left 0px
    .description
      margin-left 30px
      .votes
        color #A3181E
        margin-left 5px
        font-size .75em
.description
    min-height 26px
    margin-top 10px
    margin-bottom 10px
    font-family "Book Antiqua",Georgia,"MS Sans Serif", Geneva, sans-serif;
    padding 5px
    background-color #fff
    border 2px dashed #A3181E
    border-top-style none
    background-color #DDD
.error
  color #a33
.for
  border 1px solid
  -moz-box-shadow 10px 10px 5px #888
  -webkit-box-shadow 10px 10px 5px #888
  box-shadow 10px 10px 5px #888
  padding 1%
  float left
  width 47%
  text-align right
  z-index 5
  div.argument
    text-align right
    margin-left auto
    margin-right 0px
  div.bottom-form
    text-align right
  form#simple-new-debate
    text-align right
    margin-left auto
    margin-right 0px
.titles
  margin-top 20px
  border 1px solid
  -moz-box-shadow 10px 10px 5px #888
  -webkit-box-shadow 10px 10px 5px #888
  box-shadow 10px 10px 5px #888
  padding 1%
  .choose-title
    margin-top 10px
    .user
      font-weight bold
      text-decoration underline
      background-color #eee
    .title
      font-size 1.15em
      letter-spacing -1px
      font-weight bold
      color #A3181E
    .vote-link
      float left
      margin-left 0px
    .votes
      margin-left 5px
      font-size .75em
.subdebates
  margin-top 20px
  border 1px solid
  -moz-box-shadow 10px 10px 5px #888
  -webkit-box-shadow 10px 10px 5px #888
  box-shadow 10px 10px 5px #888
  padding 1%
  z-index 5
.tags
  margin 5px 0px 5px 30px
  span.tag
    margin 2px 5px 2px 2px
    background-color  #ff9
  span.spacer
    margin-right 12px
  a.tag
    font-size .75em
    background-color #ff9
    text-decoration none
    padding 2px 4px 2px 4px
  a.tag:hover
    text-decoration underline
  a.delete-tag
    text-decoration none
    font-size .75em
    color  #A3181E
    background-color  #ff9
  a.delete-tag:hover
    text-decoration none
    font-size .75em
    color  #A3181E
    background-color #ff9
  span.space-holder
    font-size .75em
    color  #fff
    background-color #fff
  span.show-add-tag-form a
    text-decoration none
    color #A3181E
    background-color #fff
    font-weight bold
  span.add-tag-form a
    text-decoration none
    color #A3181E
    background-color #fff
    font-weight bold
    margin-right 5px
  span.add-tag-form input[type="text"]
      font-size .75em
      width 100px
.bottom-form
  margin-top 20px
  clear both
.standaloneForm
  input
    width 50%
  input[type =button], input[type =submit]
    text-align center
    width 200px
div.clear
  clear both

/* smaller UI units */

.checked
  min-height 26px
  padding 5px 0px 0px 32px
  background url(/images/checked.png) no-repeat 6px 0
.unchecked
  min-height 26px
  padding 5px 0px 0px 32px
  background url(/images/unchecked.png) no-repeat 6px 0
.tagline
  color #343434
  text-decoration none
  font-family 'Special Elite', 'Kranky',"Lucida Grande", "Lucida Sans Unicode", Verdana
.disclaimer
  margin-top 20px
  font-style italic
  font-size .8em
  color #A3181E
.twtr-widget
  margin-top 20px
.twitter-share-button
  margin-top 20px
ul.navigation
  li
    a
      font-variant small-caps
.addthis_toolbox
  margin-top 20px
  .twitter-share-button
    margin-top 0
#tagcloud
  margin-top 20px
  .small
    font-size .8em
  .medium
    font-size 1.2em
  .large
    font-size 1.5em
.over, .over h4.title, .over h4.title a
  background-color #DDD
.over > h4.title
  border 2px dashed #A3181E
  padding 0px
.new-debate-link, .simple-new-debate-link
  padding 3px
  background-color #DDD
.debate-list-item
  z-index 10
  .body
    margin-top -25px
  textarea
    margin-top -25px
  .subdebate-show
    position absolute
    z-index 10
    padding 1%
    background-color white
    border 1px solid
    -moz-box-shadow 10px 10px 5px #888
    -webkit-box-shadow 10px 10px 5px #888
    box-shadow 10px 10px 5px #888
  .for, .against, .answers
    -moz-box-shadow none
    -webkit-box-shadow none
    box-shadow none
    border none
.modal-bg
  position absolute
  background #666 url(/images/modal-bg.png) 50% 50% repeat
  opacity .50
  z-index 1000000
.modal-dialog
  position absolute
  background white
  opacity 1
  z-index 1000001
.ui-draggable-dragging
  z-index 100
.ui-draggable-dragging h4.title
  padding 0px
.argument.ui-state-disabled, .answer.ui-state-disabled, .subdebate.ui-state-disabled,
.for.ui-state-disabled, .against.ui-state-disabled, .subdebates.ui-state-disabled, .answers.ui-state-disabled
  opacity 1
.subdebate-title
  width 100%
.list-item-icon
  margin 2px
  padding 4px 0
h4.title a.zoom-link
  list-style none
  color blue
  font-size .75em
.ui-icon-zoomin
  background-image url(/images/modal-bg.png) !important
